<!DOCTYPE html>
<html>
<head>
  <title>Wooo!</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&text=Wooo!us' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render "layouts/navbar" unless current_page?(root_path)%>
  <div class="container">
    <%= render "layouts/logo" unless current_page?(root_path)%>
    <% unless notice.nil? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
